/*HOME*/

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(135deg,#534EC2, #6587FD);
    background-position: 100%;
    background-size: 250%;
}

/*SideNavBar*/

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    padding: 6px 14px;
    background: #1D1B42;
    transition: all .5s ease-out;
}
.sidebar.active {
    width: 240px;
}
.sidebar .logo-content .logo {
    color: #5953CF;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-out;
}
.sidebar.active .logo-content .logo {
    opacity: 1;
    pointer-events: none;
}
.logo-content .logo .icon-img {
    width: 2.5em;
    padding: .5em;
    background: #5953CF;
    border-radius: 12px;
}
.logo-content .logo .logo-name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
.sidebar #btn-menu-sidebar {
    position: absolute;
    left: 50%;
    top: 6px;
    color: #6E66FF;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}
.sidebar.active #btn-menu-sidebar {
    left: 92%;
}
.sidebar ul {
    margin-top: 15px;
    padding: 0;
}
.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}
.sidebar ul li .tooltip {
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%,-50%);
    border-radius: 6px;
    height: 35px;
    width: max-content;
    background: #6E66FF;
    line-height: 20px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    transition: 0s;
    z-index: 199;
    opacity: 0;
    pointer-events: none;
    color: #383482;
    font-size: 1em;
    font-weight: bold;
}
.sidebar.active ul li .tooltip {
    display: none;
}
.sidebar ul li:hover .tooltip {
    transition: all .5s ease;
    opacity: 1;
    top: 50%;
}
.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #383482;
    padding-left: 50px;
    font-size: 18px;
    color: #6E66FF;
}
.sidebar ul li .fa-magnifying-glass {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    color: #fff;
    font-size: 22px;
}
.sidebar ul li a {
    color: #6E66FF;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all .4s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li a:hover {
    color: #383482;
}
.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .links-name {
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .links-name {
    opacity: 1;
    pointer-events: auto;
    transition: all .5s ease-out;
}

/*-Profile-*/

.sidebar .profile-content {
    position: absolute;
    color: #6E66FF;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile-content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    transition: all .4s ease-out;
    background: none;
}
.sidebar.active .profile-content .profile {
    background: #383482;
}
.sidebar .profile .profile-details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.sidebar.active .profile .profile-details {
    opacity: 1;
    pointer-events: auto;
}
.profile .profile-details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.profile .profile-details .name-rol {
    margin-left: 10px;
}
.profile .profile-details .name {
    font-size: 15px;
    font-weight: bold;
}
.profile .profile-details .rol {
    font-size: 12px;
}
.profile #log-out {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    transition: all .4s ease-out;
    background: #383482;
    text-align: center;
}
.sidebar.active .profile #log-out {
    left: 88%;
    background: none;
}

/*HomeContent*/

.home-content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all .5s ease-out;
    margin-left: 7px;
}
.sidebar.active ~ .home-content {
    width: calc(100% - 240px);
    left: 240px;
    margin-left: 7px;
}

/*temp*/

.home-content .text {
    color: #1D1B42;
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 12px;
}
.text a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
}