/*TOOLS*/

.column {
    height: max-content;
    width: calc(100% - 15px);
    padding: 1em;
    margin-top: 10px;
    border-radius: 20px;
    background: #534EC2;
    text-align: justify;
    font-size: 20px;
    color: #fff;
}